<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/adminNav.css">
    <link rel="stylesheet" href="/footer.css">
    
</head>
<body>
   <%- include("../partials/navbar") %>
   <main>
    <%- include("../adminPartials/adminNav") %>
    <div class="product-list">
        <% products.forEach(product => { %>
            <div class="product-item">
                <h2><%= product.name %></h2>
                <p>Category: <%= product.category %></p>
                <p>Price: $<%= product.price %></p>
                <p>Stock: <%= product.stock %></p>
                <a href="/editProduct/<%= product._id %>" class="edit-button">Edit</a>
            </div>
        <% }) %>
    </div>
   </main>
   <%- include("../partials/footer") %>
</body>
</html>