<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="/userprofile.css">
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="/navbar.css">
    <title>Document</title>
</head>

<body>

    <%- include('../partials/navbar.ejs') %>

        <main>
            <p class="page-label">
                <%= user.username %>
            </p>
            <div class="profile-wrapper">

                <div class="c1">
                    <img src="/assets/profile.svg" alt="profile" id="preview">
                    <!-- <button>Select Image</button> -->
                    <input type="file" value="Select Image" accept=".jpg, .jpeg, .png" id="imgInput">
                    <p>
                        File Size: Maximum 1 MB <br>
                        File Extension: .JPEG, .PNG
                    </p>
                </div>

                <div class="c2">
                    <!-- TOP SECTION -->
                    <div class="c2-1">

                        <div class="input-wrapper">
                            <label for="firstname">First Name</label>
                            <input type="text" id="firstname" value="<%= user.fname %>">
                        </div>

                        <div class="input-wrapper">
                            <label for="lastname">Last Name</label>
                            <input type="text" id="lastname" value="<%= user.lname %>">
                        </div>

                    </div>

                    <!-- BOTTOM SECTION -->
                    <div class="c2-2">
                        <div class="input-wrapper">
                            <label for="address">Complete Address</label>
                            <input type="text" id="address" value="<%= user.address %>">
                        </div>

                        <div class="input-wrapper">
                            <label for="phone">Phone Number</label>
                            <input type="tel" id="phone" value="<%= user.phone %>">
                        </div>

                        <div class="input-wrapper">
                            <label for="email">Email</label>
                            <input type="email" id="email" value="<%= user.email %>">
                        </div>
                    </div>

                </div>

                <div class="c3">
                    <span>Gender</span>
                    <div class="radio-wrapper">

                        <div class="radio-group">
                            <input type="radio" name="gender" id="male" value="male" <%=user.gender==='male' ? 'checked'
                                : '' %>>
                            <label for="male">Male</label>
                        </div>

                        <div class="radio-group">
                            <input type="radio" name="gender" id="female" value="female" <%=user.gender==='female'
                                ? 'checked' : '' %>>
                            <label for="female">Female</label>
                        </div>

                        <div class="radio-group">
                            <input type="radio" name="gender" id="other" value="other" <%=user.gender==='other'
                                ? 'checked' : '' %>>
                            <label for="other">Other</label>
                        </div>

                    </div>

                    <div class="input-wrapper">
                        <p for="date-of-birth" class="c3-lbl">Date of Birth</p>
                        <input type="date" id="date-of-birth" value="<%= user.dateOfBirth %>">
                    </div>

                    <div class="input-wrapper">

                        <p for="country" class="c3-lbl">Country</p>
                        <input type="text" id="country" value="<%= user.country %>">
                    </div>
                </div>

            </div>

            <div class="lgn-save-wrapper">
                <button class="save-btn" id="saveBtn">Save</button>
                <button class="save-btn logout" onclick="logout()">Logout</button>
            </div>
        </main>

        <%- include('../partials/footer.ejs') %>

</body>

<script src="userprofile.js"></script>

</html>