<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/sections/homeBlock') %>

    <%- include('partials/sections/shopBlock') %>
    <%- include('partials/sections/shopBlock') %>

    <%- include('partials/sections/homePcBuild') %>
    <%- include('partials/footer') %>
</body>
</html>